src/schema/dtd/navbar.dtd

<!ELEMENT navbar (identity, menu)>
<!ELEMENT identity (logo, name, link+)>
<!ELEMENT logo (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT link (#PCDATA)>
<!ELEMENT menu (item*, button?)>
<!ELEMENT item (text, link, slug)>
<!ELEMENT text (#PCDATA)>
<!ELEMENT link (#PCDATA)>
<!ELEMENT slug (#PCDATA)>
<!ELEMENT button (text, link)>
