src/schema/403.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="error">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:unsignedShort" />
        <xs:element name="message" type="xs:string" />
        <xs:element name="description">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="p" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="solution" type="xs:string" />
        <xs:element name="assets" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
