src/schema/about.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="about">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="xs:string" />
        <xs:element name="title" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="content" type="xs:string" />
        <xs:element name="image" type="xs:string" />
        <xs:element name="mission">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="header" type="xs:string" />
              <xs:element name="text" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vision">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="header" type="xs:string" />
              <xs:element name="text" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
