src/schema/admission.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="admissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="page" type="xs:string" />
        <xs:element name="cards">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="card">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="icon" type="xs:string" />
                    <xs:element name="text" type="xs:string" />
                    <xs:element name="link" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
