src/schema/faculty.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="faculty">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="teachers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="teacher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="subject_handled" type="xs:string" />
                    <xs:element name="grade_levels" type="xs:string" />
                    <xs:element name="type" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
