src/schema/gradelevels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gradeLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="section">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="image" type="xs:string" />
              <xs:element name="levels">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="level" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
