src/schema/navbar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="navbar">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="logo" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="link" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="menu">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="text" type="xs:string" />
                    <xs:element name="link" type="xs:string" />
                    <xs:element minOccurs="0" name="slug" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
