src/schema/placeholder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="public">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="navbar">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="logo" type="xs:string" />
              <xs:element name="brand" type="xs:string" />
              <xs:element name="menu">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="text" type="xs:string" />
                          <xs:element name="link" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="home">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="header" type="xs:string" />
              <xs:element name="description">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="p" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cta-button" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hero">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="header" type="xs:string" />
              <xs:element name="description">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="p" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cta-button" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="about-us">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="header" type="xs:string" />
              <xs:element name="description">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="p" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="mission">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="intro" type="xs:string" />
                    <xs:element name="goals">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="li" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="vision" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="footer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="copyright">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="year" type="xs:unsignedShort" />
                    <xs:element name="text" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
