src/schema/sections.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sections">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="section">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedByte" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="grade_level" type="xs:string" />
              <xs:element name="adviser" type="xs:string" />
              <xs:element name="number_of_students" type="xs:unsignedByte" />
              <xs:element name="schedule" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
