src/schema/users.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="username" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="password" type="xs:string" />
              <xs:element name="role" type="xs:string" />
              <xs:element name="first_name" type="xs:string" />
              <xs:element name="middle_name" />
              <xs:element name="last_name" type="xs:string" />
              <xs:element name="phone_number" />
              <xs:element name="age" type="xs:unsignedByte" />
              <xs:element name="address" />
              <xs:element name="picture" type="xs:string" />
              <xs:element name="student" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
